:root {
    --text: #000000;
    --background: #deeaee;
    --altBackground: #b1cbbb;
    --border: #000000;
    --link: #000000;
    --visitedLink: #707070;
    --linkHover: var(--link);
    --linkHoverBackground: #eea29a;
    --headerBackground: #eea29a;
    --headerLink: #000000;
    --headerLinkHover: #ffffff;
    --headerLinkHoverBackground: #c94c4c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: hsl(220, 14%, 71%);
        --background: hsl(220, 13%, 18%);
	--altBackground: #21242b;
        --border: var(--background);
        --link: var(--text);
        --visitedLink: hsl(286, 60%, 67%);
        --linkHover: var(--background);
        --linkHoverBackground: hsl(220, 9%, 55%);
        --headerBackground: var(--background);
        --headerLink: var(--text);
        --headerLinkHover: var(--linkHover);
        --headerLinkHoverBackground: var(--linkHoverBackground);
    }
}

body {
	margin: 0;
	color: var(--text);
	background-color: var(--background);
}

.itemContainer {
	padding: 10px 20px 10px 20px;
	max-width: 1100px;
}

.item1 {
	background-color: var(--background);
}

.item2 {
	background-color: var(--altBackground);
}

#navigation {
	width: 20%;
	position: fixed;
	top: 50;
	bottom: 0;
	float: left;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: var(--background);
	border: solid;
	border-width: 4px;
	border-color: var(--border);
	font-family: monospace, monospace;
}

#content {
	margin-left: 20%;
	padding: 50px 10px 0px 10px;
}

a:link {
	color: var(--link);
}

a:visited {
	color: var(--visitedLink);
}

a:hover, a:active {
	background-color: var(--linkHoverBackground);
	color: var(--linkHover);
}

#header {
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 10px 30px;
	font-family: monospace, monospace;
	font-weight: bold;
	text-decoration: none;
	background-color: var(--headerBackground);
}

#header a {
	color: var(--headerLink);
}

#header a:hover, a:active {
	color: var(--headerLinkHover);
	background-color: var(--headerLinkHoverBackground);
}

.headerItem {
	display: inline-block;
	margin: 5px 30px;
}

#feedTitle {
	font-family: monospace, monospace;
	padding-left: 40px;
}
